<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 14">
<meta name=Originator content="Microsoft Word 14">
<link rel=File-List href="sbwt_files/filelist.xml">
<link rel=Edit-Time-Data href="sbwt_files/editdata.mso">
<!--[if !mso]>
<style>
    v\:* {behavior:url(#default#VML);}
    o\:* {behavior:url(#default#VML);}
    w\:* {behavior:url(#default#VML);}
    .shape {behavior:url(#default#VML);}
</style>
<![endif]--><!--[if gte mso 9]><xml>
    <o:DocumentProperties>
        <o:Author>Nicole Spirtos</o:Author>
        <o:LastAuthor>Authorized User</o:LastAuthor>
        <o:Revision>2</o:Revision>
        <o:TotalTime>8</o:TotalTime>
        <o:Created>2014-07-17T07:04:00Z</o:Created>
        <o:LastSaved>2014-07-17T07:04:00Z</o:LastSaved>
        <o:Pages>3</o:Pages>
        <o:Words>800</o:Words>
        <o:Characters>4564</o:Characters>
        <o:Lines>38</o:Lines>
        <o:Paragraphs>10</o:Paragraphs>
        <o:CharactersWithSpaces>5354</o:CharactersWithSpaces>
        <o:Version>14.00</o:Version>
    </o:DocumentProperties>
    <o:OfficeDocumentSettings>
        <o:AllowPNG/>
    </o:OfficeDocumentSettings>
</xml><![endif]-->
<link rel=themeData href="sbwt_files/themedata.thmx">
<link rel=colorSchemeMapping href="sbwt_files/colorschememapping.xml">
<!--[if gte mso 9]><xml>
    <w:WordDocument>
        <w:SpellingState>Clean</w:SpellingState>
        <w:GrammarState>Clean</w:GrammarState>
        <w:TrackMoves>false</w:TrackMoves>
        <w:TrackFormatting/>
        <w:PunctuationKerning/>
        <w:DrawingGridHorizontalSpacing>9.35 pt</w:DrawingGridHorizontalSpacing>
        <w:DrawingGridVerticalSpacing>9.35 pt</w:DrawingGridVerticalSpacing>
        <w:ValidateAgainstSchemas/>
        <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
        <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
        <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
        <w:DoNotPromoteQF/>
        <w:LidThemeOther>EN-US</w:LidThemeOther>
        <w:LidThemeAsian>JA</w:LidThemeAsian>
        <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
        <w:Compatibility>
            <w:BreakWrappedTables/>
            <w:SnapToGridInCell/>
            <w:WrapTextWithPunct/>
            <w:UseAsianBreakRules/>
            <w:DontGrowAutofit/>
            <w:SplitPgBreakAndParaMark/>
            <w:EnableOpenTypeKerning/>
            <w:DontFlipMirrorIndents/>
            <w:OverrideTableStyleHps/>
            <w:UseFELayout/>
        </w:Compatibility>
        <w:DoNotOptimizeForBrowser/>
        <m:mathPr>
            <m:mathFont m:val="Cambria Math"/>
            <m:brkBin m:val="before"/>
            <m:brkBinSub m:val="&#45;-"/>
            <m:smallFrac m:val="off"/>
            <m:dispDef/>
            <m:lMargin m:val="0"/>
            <m:rMargin m:val="0"/>
            <m:defJc m:val="centerGroup"/>
            <m:wrapIndent m:val="1440"/>
            <m:intLim m:val="subSup"/>
            <m:naryLim m:val="undOvr"/>
        </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
<w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
                DefSemiHidden="true" DefQFormat="false" DefPriority="99"
                LatentStyleCount="267">
<w:LsdException Locked="false" Priority="0" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
<w:LsdException Locked="false" Priority="9" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
<w:LsdException Locked="false" Priority="39" Name="toc 1"/>
<w:LsdException Locked="false" Priority="39" Name="toc 2"/>
<w:LsdException Locked="false" Priority="39" Name="toc 3"/>
<w:LsdException Locked="false" Priority="39" Name="toc 4"/>
<w:LsdException Locked="false" Priority="39" Name="toc 5"/>
<w:LsdException Locked="false" Priority="39" Name="toc 6"/>
<w:LsdException Locked="false" Priority="39" Name="toc 7"/>
<w:LsdException Locked="false" Priority="39" Name="toc 8"/>
<w:LsdException Locked="false" Priority="39" Name="toc 9"/>
<w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
<w:LsdException Locked="false" Priority="10" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Title"/>
<w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
<w:LsdException Locked="false" Priority="11" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
<w:LsdException Locked="false" Priority="22" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
<w:LsdException Locked="false" Priority="20" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
<w:LsdException Locked="false" Priority="59" SemiHidden="false"
                UnhideWhenUsed="false" Name="Table Grid"/>
<w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
<w:LsdException Locked="false" Priority="1" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
<w:LsdException Locked="false" Priority="60" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Shading"/>
<w:LsdException Locked="false" Priority="61" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light List"/>
<w:LsdException Locked="false" Priority="62" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Grid"/>
<w:LsdException Locked="false" Priority="63" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 1"/>
<w:LsdException Locked="false" Priority="64" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 2"/>
<w:LsdException Locked="false" Priority="65" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 1"/>
<w:LsdException Locked="false" Priority="66" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 2"/>
<w:LsdException Locked="false" Priority="67" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 1"/>
<w:LsdException Locked="false" Priority="68" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 2"/>
<w:LsdException Locked="false" Priority="69" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 3"/>
<w:LsdException Locked="false" Priority="70" SemiHidden="false"
                UnhideWhenUsed="false" Name="Dark List"/>
<w:LsdException Locked="false" Priority="71" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Shading"/>
<w:LsdException Locked="false" Priority="72" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful List"/>
<w:LsdException Locked="false" Priority="73" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Grid"/>
<w:LsdException Locked="false" Priority="60" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
<w:LsdException Locked="false" Priority="61" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light List Accent 1"/>
<w:LsdException Locked="false" Priority="62" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
<w:LsdException Locked="false" Priority="63" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
<w:LsdException Locked="false" Priority="64" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
<w:LsdException Locked="false" Priority="65" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
<w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
<w:LsdException Locked="false" Priority="34" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
<w:LsdException Locked="false" Priority="29" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
<w:LsdException Locked="false" Priority="30" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
<w:LsdException Locked="false" Priority="66" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
<w:LsdException Locked="false" Priority="67" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
<w:LsdException Locked="false" Priority="68" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
<w:LsdException Locked="false" Priority="69" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
<w:LsdException Locked="false" Priority="70" SemiHidden="false"
                UnhideWhenUsed="false" Name="Dark List Accent 1"/>
<w:LsdException Locked="false" Priority="71" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
<w:LsdException Locked="false" Priority="72" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
<w:LsdException Locked="false" Priority="73" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
<w:LsdException Locked="false" Priority="60" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
<w:LsdException Locked="false" Priority="61" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light List Accent 2"/>
<w:LsdException Locked="false" Priority="62" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
<w:LsdException Locked="false" Priority="63" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
<w:LsdException Locked="false" Priority="64" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
<w:LsdException Locked="false" Priority="65" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
<w:LsdException Locked="false" Priority="66" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
<w:LsdException Locked="false" Priority="67" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
<w:LsdException Locked="false" Priority="68" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
<w:LsdException Locked="false" Priority="69" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
<w:LsdException Locked="false" Priority="70" SemiHidden="false"
                UnhideWhenUsed="false" Name="Dark List Accent 2"/>
<w:LsdException Locked="false" Priority="71" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
<w:LsdException Locked="false" Priority="72" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
<w:LsdException Locked="false" Priority="73" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
<w:LsdException Locked="false" Priority="60" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
<w:LsdException Locked="false" Priority="61" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light List Accent 3"/>
<w:LsdException Locked="false" Priority="62" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
<w:LsdException Locked="false" Priority="63" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
<w:LsdException Locked="false" Priority="64" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
<w:LsdException Locked="false" Priority="65" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
<w:LsdException Locked="false" Priority="66" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
<w:LsdException Locked="false" Priority="67" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
<w:LsdException Locked="false" Priority="68" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
<w:LsdException Locked="false" Priority="69" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
<w:LsdException Locked="false" Priority="70" SemiHidden="false"
                UnhideWhenUsed="false" Name="Dark List Accent 3"/>
<w:LsdException Locked="false" Priority="71" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
<w:LsdException Locked="false" Priority="72" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
<w:LsdException Locked="false" Priority="73" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
<w:LsdException Locked="false" Priority="60" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
<w:LsdException Locked="false" Priority="61" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light List Accent 4"/>
<w:LsdException Locked="false" Priority="62" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
<w:LsdException Locked="false" Priority="63" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
<w:LsdException Locked="false" Priority="64" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
<w:LsdException Locked="false" Priority="65" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
<w:LsdException Locked="false" Priority="66" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
<w:LsdException Locked="false" Priority="67" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
<w:LsdException Locked="false" Priority="68" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
<w:LsdException Locked="false" Priority="69" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
<w:LsdException Locked="false" Priority="70" SemiHidden="false"
                UnhideWhenUsed="false" Name="Dark List Accent 4"/>
<w:LsdException Locked="false" Priority="71" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
<w:LsdException Locked="false" Priority="72" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
<w:LsdException Locked="false" Priority="73" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
<w:LsdException Locked="false" Priority="60" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
<w:LsdException Locked="false" Priority="61" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light List Accent 5"/>
<w:LsdException Locked="false" Priority="62" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
<w:LsdException Locked="false" Priority="63" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
<w:LsdException Locked="false" Priority="64" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
<w:LsdException Locked="false" Priority="65" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
<w:LsdException Locked="false" Priority="66" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
<w:LsdException Locked="false" Priority="67" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
<w:LsdException Locked="false" Priority="68" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
<w:LsdException Locked="false" Priority="69" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
<w:LsdException Locked="false" Priority="70" SemiHidden="false"
                UnhideWhenUsed="false" Name="Dark List Accent 5"/>
<w:LsdException Locked="false" Priority="71" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
<w:LsdException Locked="false" Priority="72" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
<w:LsdException Locked="false" Priority="73" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
<w:LsdException Locked="false" Priority="60" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
<w:LsdException Locked="false" Priority="61" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light List Accent 6"/>
<w:LsdException Locked="false" Priority="62" SemiHidden="false"
                UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
<w:LsdException Locked="false" Priority="63" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
<w:LsdException Locked="false" Priority="64" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
<w:LsdException Locked="false" Priority="65" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
<w:LsdException Locked="false" Priority="66" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
<w:LsdException Locked="false" Priority="67" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
<w:LsdException Locked="false" Priority="68" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
<w:LsdException Locked="false" Priority="69" SemiHidden="false"
                UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
<w:LsdException Locked="false" Priority="70" SemiHidden="false"
                UnhideWhenUsed="false" Name="Dark List Accent 6"/>
<w:LsdException Locked="false" Priority="71" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
<w:LsdException Locked="false" Priority="72" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
<w:LsdException Locked="false" Priority="73" SemiHidden="false"
                UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
<w:LsdException Locked="false" Priority="19" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
<w:LsdException Locked="false" Priority="21" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
<w:LsdException Locked="false" Priority="31" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
<w:LsdException Locked="false" Priority="32" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
<w:LsdException Locked="false" Priority="33" SemiHidden="false"
                UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
<w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
<w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
</w:LatentStyles>
</xml><![endif]-->
<style>
    <!--
    /* Font Definitions */
    @font-face
    {font-family:Cambria;
        panose-1:2 4 5 3 5 4 6 3 2 4;
        mso-font-charset:0;
        mso-generic-font-family:roman;
        mso-font-pitch:variable;
        mso-font-signature:-536870145 1073743103 0 0 415 0;}
    @font-face
    {font-family:Calibri;
        panose-1:2 15 5 2 2 2 4 3 2 4;
        mso-font-charset:0;
        mso-generic-font-family:swiss;
        mso-font-pitch:variable;
        mso-font-signature:-536870145 1073786111 1 0 415 0;}
    @font-face
    {font-family:"Lucida Grande";
        mso-font-charset:0;
        mso-generic-font-family:auto;
        mso-font-pitch:variable;
        mso-font-signature:-520090897 1342218751 0 0 447 0;}
    @font-face
    {font-family:Arial-BoldMT;
        panose-1:0 0 0 0 0 0 0 0 0 0;
        mso-font-alt:Arial;
        mso-font-charset:0;
        mso-generic-font-family:swiss;
        mso-font-format:other;
        mso-font-pitch:auto;
        mso-font-signature:3 0 0 0 1 0;}
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal
    {mso-style-unhide:no;
        mso-style-qformat:yes;
        mso-style-parent:"";
        margin:0in;
        margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:12.0pt;
        font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";}
    a:link, span.MsoHyperlink
    {mso-style-priority:99;
        mso-style-unhide:no;
        mso-style-parent:"";
        font-family:"Times New Roman","serif";
        mso-bidi-font-family:"Times New Roman";
        color:blue;
        text-decoration:underline;
        text-underline:single;}
    a:visited, span.MsoHyperlinkFollowed
    {mso-style-noshow:yes;
        mso-style-priority:99;
        color:purple;
        mso-themecolor:followedhyperlink;
        text-decoration:underline;
        text-underline:single;}
    strong
    {mso-style-priority:22;
        mso-style-unhide:no;
        mso-style-qformat:yes;
        mso-style-parent:"";
        font-family:"Times New Roman","serif";
        mso-bidi-font-family:"Times New Roman";}
    p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
    {mso-style-priority:99;
        mso-style-link:"Plain Text Char";
        margin:0in;
        margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:11.0pt;
        mso-bidi-font-size:10.5pt;
        font-family:"Calibri","sans-serif";
        mso-fareast-font-family:Calibri;
        mso-bidi-font-family:"Times New Roman";}
    p
    {mso-style-priority:99;
        mso-style-unhide:no;
        mso-margin-top-alt:auto;
        margin-right:0in;
        mso-margin-bottom-alt:auto;
        margin-left:0in;
        mso-pagination:widow-orphan;
        font-size:12.0pt;
        font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";}
    p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
    {mso-style-noshow:yes;
        mso-style-priority:99;
        mso-style-link:"Balloon Text Char";
        margin:0in;
        margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:9.0pt;
        font-family:"Lucida Grande";
        mso-fareast-font-family:"Times New Roman";}
    span.PlainTextChar
    {mso-style-name:"Plain Text Char";
        mso-style-priority:99;
        mso-style-unhide:no;
        mso-style-locked:yes;
        mso-style-link:"Plain Text";
        mso-ansi-font-size:11.0pt;
        mso-bidi-font-size:10.5pt;
        font-family:"Calibri","sans-serif";
        mso-ascii-font-family:Calibri;
        mso-fareast-font-family:Calibri;
        mso-hansi-font-family:Calibri;
        mso-bidi-font-family:"Times New Roman";}
    span.BalloonTextChar
    {mso-style-name:"Balloon Text Char";
        mso-style-noshow:yes;
        mso-style-priority:99;
        mso-style-unhide:no;
        mso-style-locked:yes;
        mso-style-link:"Balloon Text";
        mso-ansi-font-size:9.0pt;
        mso-bidi-font-size:9.0pt;
        font-family:"Lucida Grande";
        mso-ascii-font-family:"Lucida Grande";
        mso-fareast-font-family:"Times New Roman";
        mso-hansi-font-family:"Lucida Grande";
        mso-bidi-font-family:"Lucida Grande";}
    span.SpellE
    {mso-style-name:"";
        mso-spl-e:yes;}
    .MsoChpDefault
    {mso-style-type:export-only;
        mso-default-props:yes;
        font-size:12.0pt;
        mso-ansi-font-size:12.0pt;
        mso-bidi-font-size:12.0pt;
        font-family:"Cambria","serif";
        mso-ascii-font-family:Cambria;
        mso-ascii-theme-font:minor-latin;
        mso-fareast-font-family:"MS Mincho";
        mso-fareast-theme-font:minor-fareast;
        mso-hansi-font-family:Cambria;
        mso-hansi-theme-font:minor-latin;
        mso-bidi-font-family:"Times New Roman";
        mso-bidi-theme-font:minor-bidi;}
    @page WordSection1
    {size:8.5in 11.0in;
        margin:.5in .5in .5in .5in;
        mso-header-margin:.5in;
        mso-footer-margin:.5in;
        mso-paper-source:0;}
    div.WordSection1
    {page:WordSection1;}
    -->
</style>
<!--[if gte mso 10]>
<style>
    /* Style Definitions */
    table.MsoNormalTable
    {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-priority:99;
        mso-style-parent:"";
        mso-padding-alt:0in 5.4pt 0in 5.4pt;
        mso-para-margin:0in;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:12.0pt;
        font-family:"Cambria","serif";
        mso-ascii-font-family:Cambria;
        mso-ascii-theme-font:minor-latin;
        mso-hansi-font-family:Cambria;
        mso-hansi-theme-font:minor-latin;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
    <o:shapedefaults v:ext="edit" spidmax="1026"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
    <o:shapelayout v:ext="edit">
        <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:228.25pt'>

<div class=WordSection1>

<div align=center>

<table class=MsoNormalTable border=0 cellpadding=0 width=600 style='width:6.25in;
 mso-cellspacing:1.5pt;mso-padding-alt:0in 0in 0in 0in'>
<tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
    <td colspan=4 style='padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>&nbsp;<o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:1'>
    <td colspan=4 style='padding:0in 0in 0in 0in'>
        <p align=center style='text-align:center'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif";mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype
                        id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
                        path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
                    <v:stroke joinstyle="miter"/>
                    <v:formulas>
                        <v:f eqn="if lineDrawn pixelLineWidth 0"/>
                        <v:f eqn="sum @0 1 0"/>
                        <v:f eqn="sum 0 0 @1"/>
                        <v:f eqn="prod @2 1 2"/>
                        <v:f eqn="prod @3 21600 pixelWidth"/>
                        <v:f eqn="prod @3 21600 pixelHeight"/>
                        <v:f eqn="sum @0 0 1"/>
                        <v:f eqn="prod @6 1 2"/>
                        <v:f eqn="prod @7 21600 pixelWidth"/>
                        <v:f eqn="sum @8 21600 0"/>
                        <v:f eqn="prod @7 21600 pixelHeight"/>
                        <v:f eqn="sum @10 21600 0"/>
                    </v:formulas>
                    <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
                    <o:lock v:ext="edit" aspectratio="t"/>
                </v:shapetype><v:shape id="Picture_x0020_2" o:spid="_x0000_i1026" type="#_x0000_t75"
                                       style='width:270.75pt;height:78pt;visibility:visible;mso-wrap-style:square'>
                    <v:imagedata src="image001.jpg" o:title=""/>
                </v:shape><![endif]--><![if !vml]>
                {% image '@StcContractBundle/Resources/public/img/image002.jpg' %}
                    <img width=361 height=104 src="{{ asset_url|e }}" v:shapes="Picture_x0020_2"><![endif]>
                {% endimage %}
                <br>
  </span><b style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;
  font-family:"Arial","sans-serif";background:yellow;mso-highlight:yellow'>{{ band_name }}
  ({{ tribute_to|e }}) – {{ performance_date|e }}</span></b><b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></b></p>
        <p align=center style='text-align:center'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'><br>
  <strong><span style='font-family:"Arial","sans-serif"'>PERFORMANCE CONTRACT -
  (&quot;the Agreement&quot;)</span></strong></span><b style='mso-bidi-font-weight:
  normal'><span style='font-size:14.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></b></p>
        <p style='text-align:justify;text-justify:inter-ideograph'><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif"'>This Agreement for
  the personal and musical services <b style='mso-bidi-font-weight:normal'><span
                            style='background:yellow;mso-highlight:yellow'>{{ band_name|e }} ({{ tribute_to|e }})</span> </b>(hereinafter
  referred to as &quot;Artist&quot;), which include the specific details of a
  music booking Performance (hereinafter referred to as
  &quot;Performance&quot;), is entered into on this date, <b>Today’s Date</b>,
  by and between <b style='mso-bidi-font-weight:normal'>Venue </b>(hereinafter
  referred to as &quot;Purchaser&quot;) as listed below, and the Artist. Both
  Purchaser and Artist (hereinafter collectively referred to as
  &quot;Parties&quot;) agree to and contract as follows:<o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:2'>
    <td colspan=4 style='padding:0in 0in 0in 0in'>
        <p class=MsoNormal align=center style='text-align:center'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><br>
  PURCHASER INFO<br style='mso-special-character:line-break'>
  <![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
  <![endif]></span></b><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:3;height:16.8pt'>
    <td width=305 colspan=2 style='width:228.5pt;padding:0in 0in 0in 0in;
  height:16.8pt'>
        <p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'>PURCHASER COMPANY:<o:p></o:p></span></p>
    </td>
    <td width=289 colspan=2 style='width:217.0pt;padding:0in 0in 0in 0in;
  height:16.8pt'>
        <p style='margin:0in;margin-bottom:.0001pt'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow'>{{ venue_name|e }}<o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:4'>
    <td width=305 colspan=2 style='width:228.5pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'>PURCHASER CONTACT:<o:p></o:p></span></p>
    </td>
    <td width=289 colspan=2 style='width:217.0pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow'>{{ venue_contact_name|e }}<o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:5'>
    <td width=305 colspan=2 style='width:228.5pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'>PURCHASER ADDRESS:<o:p></o:p></span></p>
    </td>
    <td width=289 colspan=2 style='width:217.0pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow'>{{ venue_billing_address|e }} <o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:6'>
    <td width=305 colspan=2 style='width:228.5pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'>PURCHASER PHONE:<o:p></o:p></span></p>
    </td>
    <td width=289 colspan=2 style='width:217.0pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow'>{{ venue_phone|e }}<o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:7'>
    <td width=305 colspan=2 style='width:228.5pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'>PURCHASER EMAIL:<o:p></o:p></span></p>
    </td>
    <td width=289 colspan=2 style='width:217.0pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><strong><span style='font-size:
  10.0pt;font-family:"Arial","sans-serif";background:yellow;mso-highlight:yellow;
  mso-bidi-font-weight:normal'>{{ venue_email|e }}<o:p></o:p></span></strong></p>
    </td>
</tr>
<tr style='mso-yfti-irow:8'>
    <td width=305 colspan=2 style='width:228.5pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'>ADDITIONAL INFO:<o:p></o:p></span></p>
    </td>
    <td width=289 colspan=2 style='width:217.0pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><strong><span style='font-size:
  10.0pt;font-family:"Arial","sans-serif";background:yellow;mso-highlight:yellow;
  mso-bidi-font-weight:normal'>{{ additional_info|e }}<o:p></o:p></span></strong></p>
    </td>
</tr>
<tr style='mso-yfti-irow:9'>
    <td width=305 colspan=2 style='width:228.5pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width=289 colspan=2 style='width:217.0pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:10'>
    <td colspan=4 style='padding:0in 0in 0in 0in'>
        <p align=center style='margin:0in;margin-bottom:.0001pt;text-align:center'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><br>
  ARTIST(S) INFO<o:p></o:p></span></b></p>
        <p align=center style='margin:0in;margin-bottom:.0001pt;text-align:center'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><o:p>&nbsp;</o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:11'>
    <td width=596 colspan=4 style='width:447.0pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'>BAND NAME(s):<b style='mso-bidi-font-weight:
  normal'><span
                            style='background:yellow;mso-highlight:yellow;mso-bidi-font-weight:bold'>{{ band_name|e }}
  ({{ tribute_to|e }})</span><span style='mso-bidi-font-weight:bold'></span><o:p></o:p></b></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:12'>
    <td width=596 colspan=4 style='width:447.0pt;padding:0in 0in 0in 0in'>
        <p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'>BAND CONTACT:<b style='mso-bidi-font-weight:
  normal'> <span style='background:white'><o:p></o:p></span></b></span></p>
        <p style='margin:0in;margin-bottom:.0001pt;text-indent:210.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif";background:yellow;mso-highlight:yellow;mso-shading:white'>
  {{ band_contact_name|e }}</span></b><strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow'><o:p></o:p></span></strong></p>
        <p style='margin:0in;margin-bottom:.0001pt;text-indent:210.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif";background:yellow;mso-highlight:yellow;mso-shading:white'>{{ band_phone|e }}<o:p></o:p></span></b></p>
        <p style='margin:0in;margin-bottom:.0001pt;text-indent:210.0pt'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif";background:yellow;mso-highlight:yellow;mso-shading:white'>{{ band_email|e }}</span></b><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif";background:white'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:13'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:14'>
    <td colspan=4 style='padding:0in 0in 0in 0in'>
        <p class=MsoNormal align=center style='text-align:center'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'>PERFORMANCE INFO<o:p></o:p></span></b></p>
        <p class=MsoNormal align=center style='text-align:center'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><br>
  </span></b><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>The Purchaser hereby engages Artists to render a
  musical performance (the &quot;Performance&quot;), and Artists hereby agree
  to render such Performance under the terms and conditions specified herein.<br
                        style='mso-special-character:line-break'>
  <![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
  <![endif]></span><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:15'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>PERFORMANCE
  DATE(S):<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b><span style='font-size:10.0pt;font-family:"Arial-BoldMT","sans-serif";
  mso-fareast-font-family:Cambria;mso-fareast-theme-font:minor-latin;
  mso-bidi-font-family:Arial-BoldMT;background:yellow;mso-highlight:yellow'>{{ performance_date|e }}</span></b><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:16'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>BACKLINE<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow;font-weight:normal;mso-bidi-font-weight:
  bold'></span></strong><strong><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif";background:yellow;mso-highlight:yellow'>
  {{ backline|e }}</span></strong><strong><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif";font-weight:normal;mso-bidi-font-weight:
  bold'><o:p></o:p></span></strong></p>
    </td>
</tr>
<tr style='mso-yfti-irow:17'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>LOAD
  IN:<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>{{ load_in_at|e }}</span></b><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:18'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>SOUND
  CHECK:<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>{{ sound_check_at|e }}</span></b><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:19'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>START
  TIME:<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>{{ performance_starts_at|e }}</span></b><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:20'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>END
  TIME:<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>{{ performance_ends_at|e }}</span></b><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:21'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>CAPACITY:<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>{{ venue_capacity|e }}</span></b><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:22'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>TICKET
  PRICES:<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>{{ ticket_price|e }}</span></b><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:23'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>NOTES/OTHER
  BANDS:<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow'>{{ notes_other_bands|e }}</span></b><b><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:24;height:18.15pt'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in;
  height:18.15pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>PA:<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in;height:18.15pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow;mso-bidi-font-weight:bold'><b>
                    {{ pa|e }}</b></span><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow'> </span><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:25'>
    <td width=307 colspan=3 style='width:230.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>AGE
  LIMIT:<o:p></o:p></span></p>
    </td>
    <td width=287 style='width:215.5pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>{{ venue_age_limit|e }}</span></b><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:26'>
    <td colspan=4 style='padding:0in 0in 0in 0in'>
        <p class=MsoNormal align=center style='text-align:center'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><br style='mso-special-character:line-break'>
  <![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
  <![endif]><o:p></o:p></span></b></p>
        <p class=MsoNormal align=center style='text-align:center'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><o:p>&nbsp;</o:p></span></b></p>
        <p class=MsoNormal align=center style='text-align:center'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><br style='mso-special-character:line-break'>
  <![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
  <![endif]><o:p></o:p></span></b></p>
        <p class=MsoNormal align=center style='text-align:center'><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><br>
  COMPENSATION INFO<o:p></o:p></span></b></p>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'><br>
  <span style='mso-bidi-font-weight:bold'>PAYMENT</span></span></b><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-bidi-font-weight:
  bold'>:  In full consideration for all
  services rendered by Artists at the Performance, Purchaser agrees to make the
  following payment in U.S. funds to Artists’ Agent:<br style='mso-special-character:
  line-break'>
  <![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
  <![endif]></span><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:27'>
    <td width=596 colspan=4 style='width:447.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'>GUARANTEE</span></b><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif"'>:  A Flat performance fee of <b
                        style='mso-bidi-font-weight:normal'><u><span style='background:yellow;
  mso-highlight:yellow'>${{ performance_fee|e }}</span></u><span style='background:yellow;
  mso-highlight:yellow'> (AMOUNT IN US DOLLARS</span></b><span
                        style='background:yellow;mso-highlight:yellow'>).</span><o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>The
  Artist’s breakdown is as follows:<o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:28;height:101.4pt'>
    <td width=596 colspan=4 style='width:447.0pt;padding:0in 0in 0in 0in;
  height:101.4pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><br>
  <b style='mso-bidi-font-weight:normal'>DEPOSIT:</b> <span style='mso-bidi-font-weight:
  bold'>Artist’s Agent, Music Zirconia, Inc., is due a total deposit of <b><u><span
                                    style='background:yellow;mso-highlight:yellow'>${{ performance_deposit|e }}</span></u> </b>option<b>
                    </b>of canceling this Performance Agreement with no further liability
  hereunder to Purchaser. Performing Agreement is not valid until executed by
  both parties &amp; deposit received by Agent. <o:p></o:p></span></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><b><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>NOTE</span></b><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-bidi-font-weight:
  bold'>: Add *Current Travel Buyout<span style='background:yellow;mso-highlight:
  yellow'>”<b><u>${{ travel_budget|e }}.</u></b></span><b><u>
                    </u>The travel cost changes daily. If the price goes up we will send an
                    adjusted invoice due at show time + any travel overage costs)</b> unless
  venue is buying the flights.<o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><b><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>Total
  Deposit/Travel Due Presently <span style='background:yellow;mso-highlight:
  yellow'>${{ total_deposit_due|e }} </span></span></b><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>(AMOUNT IN US DOLLARS).</span></b><strong><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";font-weight:normal;
  mso-bidi-font-weight:bold'><o:p></o:p></span></strong></p>
    </td>
</tr>
<tr style='mso-yfti-irow:29'>
    <td width=596 colspan=4 style='width:447.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  font-weight:normal'><o:p>&nbsp;</o:p></span></strong></p>
    </td>
</tr>
<tr style='mso-yfti-irow:30;height:27.6pt'>
    <td width=279 style='width:209.2pt;padding:0in 0in 0in 0in;height:27.6pt'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><br>
  ADDITIONAL PAYMENT CONDITIONS:<o:p></o:p></span></p>
    </td>
    <td width=315 colspan=3 style='width:236.3pt;padding:0in 0in 0in 0in;
  height:27.6pt'>
        <p class=MsoNormal><strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>All
  hospitality via per diem</span></strong><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:31'>
    <td width=279 style='width:209.2pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>MEALS:<o:p></o:p></span></p>
    </td>
    <td width=315 colspan=3 style='width:236.3pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>Per diem /<b> <span style='background:yellow;
  mso-highlight:yellow'>{{ number_meals_provided|e }}</span> meals </b>provided for band &amp; crew</span><b
                    style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial","sans-serif"'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:32'>
    <td width=279 style='width:209.2pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>DRINKS:<o:p></o:p></span></p>
    </td>
    <td width=315 colspan=3 style='width:236.3pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow'>{{ number_drinks_provided|e }}</span></strong><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:33'>
    <td width=279 style='width:209.2pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>ACCOMMODATIONS:<o:p></o:p></span></p>
    </td>
    <td width=315 colspan=3 style='width:236.3pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>For
  <span style='background:yellow;mso-highlight:yellow'>{{ number_adults_accommodated|e }}</span> Adults </span></strong><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:34'>
    <td width=279 valign=top style='width:209.2pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>FLIGHTS<o:p></o:p></span></p>
    </td>
    <td width=315 colspan=3 valign=top style='width:236.3pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow'>{{ number_flights|e }}</span></strong><strong><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'> RT Flights <span style='background:yellow;
  mso-highlight:yellow'>{{ flight_from_city_state|e }} / {{ flight_to_city_state|e }}</span> and back or travel
  buyout= <u><span style='background:yellow;mso-highlight:yellow'></span></u></span></strong><b><u><span
                            style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>${{ travel_buyout|e }}</span></u></b><b><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'><o:p></o:p></span></b></p>
    </td>
</tr>
<tr style='mso-yfti-irow:35'>
    <td width=279 valign=top style='width:209.2pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>GROUND
  TRANSORTATION<o:p></o:p></span></p>
    </td>
    <td width=315 colspan=3 valign=top style='width:236.3pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>To
  and from local airport</span></strong><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:36'>
    <td width=279 valign=top style='width:209.2pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>ADDITIONAL:<br>
  <br>
  <b style='mso-bidi-font-weight:normal'>CHECKS<o:p></o:p></b></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><br>
  <br>
  <br>
  <br>
  <b style='mso-bidi-font-weight:normal'>WIRE<o:p></o:p></b></span></p>
    </td>
    <td width=315 colspan=3 valign=top style='width:236.3pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>Sound
  Engineer provided by<b style='mso-bidi-font-weight:normal'> <span
                            style='background:yellow;mso-highlight:yellow'>{{ venue_name|e }}</span><o:p></o:p></b></span></p>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></b></p>
        <p class=MsoNormal><strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>Music
  Zirconia, INC</span></strong><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><br>
  5595 <span class=SpellE>Magnatron</span> Blvd <span class=SpellE>Ste</span>
  A.<br>
  San Diego, CA 92111<o:p></o:p></span></p>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'><br>
  Chase Bank<o:p></o:p></span></b></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>Account
  name: Music Zirconia, <span class=SpellE>Inc</span><o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>Signatory:
  Brent Meyer<o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>Chase
  Bank Account #605757561<o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>ABA
  routing # 111000614<o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>International
  SWIFT code: CHASU33<o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:37'>
    <td width=596 colspan=4 valign=top style='width:447.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal align=center style='margin-bottom:12.0pt;text-align:center'><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif"'><br>
  </span><b><span style='font-size:14.0pt;font-family:"Arial","sans-serif"'>Venue
  Location: <span style='background:yellow;mso-highlight:yellow'>{{ venue_name|e }}</span><o:p></o:p></span></b></p>
        <p class=MsoNormal style='tab-stops:228.0pt 232.5pt 237.0pt'><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-bidi-font-weight:
  bold'>PHYSICAL ADDRESS OF EVENT:  <b><span
                            style='background:yellow;mso-highlight:yellow'></span> <span
                            style='background:yellow;mso-highlight:yellow'>{{ venue_billing_address|e }}</span></b><o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>MAILING ADDRESS:  <b><span style='background:yellow;mso-highlight:yellow'></span></b><span
                        style='background:yellow;mso-highlight:yellow'>{{ venue_billing_address|e }}</span> <o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>PHONE:  <b><span style='background:yellow;mso-highlight:yellow'></span></b>
  <b><span style='background:yellow;mso-highlight:yellow'>{{ venue_phone|e }}</span></b><o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>EMERGENCY PHONE:  <b><span style='background:yellow;mso-highlight:yellow'></span></b>
  <b><span style='background:yellow;mso-highlight:yellow'>{{ venue_emergency_phone|e }}</span></b><o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>FAX:  <b><span style='background:yellow;mso-highlight:yellow'></span></b>
  <b><span style='background:yellow;mso-highlight:yellow'>{{ venue_fax|e }}</span></b><o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>EMAIL:  <b><span style='background:yellow;mso-highlight:yellow'>{{ venue_email|e }}</span></b><o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>WEBSITE:  <b><span
                            style='background:yellow;mso-highlight:yellow'>{{ venue_website|e }}</span></b><o:p></o:p></span></p>
        <p class=MsoNormal style='margin-bottom:12.0pt'><b><span style='font-size:
  14.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></b></p>
        <p class=MsoNormal style='margin-bottom:12.0pt'><b><span style='font-size:
  14.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></b></p>
        <p class=MsoNormal align=center style='margin-bottom:12.0pt;text-align:center'><b><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif"'>CONTRACT RIDER</span></b><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:38'>
    <td width=596 colspan=4 valign=top style='width:447.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>1. All of the clauses attached hereto form an
  integral part of this contract and must be strictly adhered to. <br>
  <br>
  2. Purchaser to provide the following at time of load in to EACH of Artist’s
  dressing room area(s): <o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>- 1 (one) case of bottled water (including bin to
  ice at Artist’s discretion)<br>
  - <b><span style='background:yellow;mso-highlight:yellow'>{{ number_clean_towels|e }}</span> </b>clean
  bath-sized towels <br>
  - Selection of sodas, energy drinks, tea &amp; coffee<br>
  - Random Snacks (sandwiches, chips/salsa, veggies/dip trays, etc.) would be
  great if available<br>
  <br>
  3. Venue to provide <b><span style='background:yellow;mso-highlight:yellow'>
  {{ number_meals_provided|e }}</span></b> hot meals for band &amp; crew day of show or
  $20 buyout <b><span style='background:yellow;mso-highlight:yellow'>{{ number_meals_buyout|e }}</span></b><span
                        style='background:yellow;mso-highlight:yellow'>.</span><b><o:p></o:p></b></span></p>
        <p class=MsoNormal><b><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></b></p>
        <p class=MsoNormal><s><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>4. Purchase to reserve 3 (three) parking spaces
  for vehicles in a safe area near the load in area of the venue. <br>
  </span></s><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><br>
  5. Purchaser to provide Artist with private and secure dressing room area and
  one clean private bathroom for the exclusive use of the Artist. The dressing
  room MUST HAVE MIRRORS and a place to HANG UP costumes.<br>
  <br>
  6. Purchaser to provide Artist with safe and secure area to store
  equipment/gear/personal belongings before, during, and after performance. <br>
  <br>
  7. Artist requires a minimum of 10 (ten) guest list spots held or tickets for
  ticketed shows. Artist or Artist’s Agent to be issued
  laminates/stickers/wristbands to permit entry to backstage area at Artist’s
  discretion.<br>
  <br>
  8. HOTEL REQUIREMENTS<b>:<s> </s>For <span style='background:yellow;
  mso-highlight:yellow'>{{ number_adults_accommodated|e }}</span> of adults<span style='background:yellow;
  mso-highlight:yellow'></span></b><br>
  <br>
  9. The Act must be Billed as: “</span><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>{{ band_billed_by|e }}</span></b><b><span style='font-size:
  10.0pt;font-family:"Arial","sans-serif"'>” </span></b><span style='font-size:
  10.0pt;font-family:"Arial","sans-serif";mso-bidi-font-weight:bold'>In all
  advertisements, marquees, tickets, or articles.<br>
  <br>
  Music Zirconia Agency would like to thank you for your consideration and
  cooperation with meeting the Artist’s needs. Any discussion of the rider can
  be taken up with <b>Michael <span class=SpellE>Twombly</span> (858) 405-4391
                    or michael@musiczirconia.com</b><o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'>PURCHASER<o:p></o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><br>
  <br>
  _______________________________________________DATE:<u><b><span style='background:
  yellow;mso-highlight:yellow'>{{ date_signed|e }}</span></b></u><br>
  </span><b style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif";background:yellow;mso-highlight:yellow'>
  {{ venue_contact_name|e }}</span></b><u><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  background:yellow;mso-highlight:yellow;mso-bidi-font-weight:bold'><o:p></o:p></span></u></p>
        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:10.0pt;font-family:"Arial","sans-serif";background:yellow;
  mso-highlight:yellow'>{{ venue_name|e }}</span></b><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'> </span></b><span
                    style='font-size:10.0pt;font-family:"Arial","sans-serif"'><span style='mso-bidi-font-weight:bold'><br>
  <br>
  <br>
  AGENT / BAND REPRESENTATIVE<o:p></o:p></span></span></p>
        <p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif";mso-bidi-font-weight:bold'><br>
  ___</span><u><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-no-proof:yes'><!--[if gte vml 1]><v:shape id="Picture_x0020_4" o:spid="_x0000_i1025"
                                                type="#_x0000_t75" alt="Description: Description: BM_signature" style='width:110.25pt;
   height:29.25pt;visibility:visible;mso-wrap-style:square'>

                        <v:imagedata src="sbwt_files/image003.jpg" o:title=" BM_signature"/>
                    </v:shape><![endif]--><![if !vml]>
                    {% image '@StcContractBundle/Resources/public/img/image004.jpg' %}
                        <img width=147 height=39 src="{{ asset_url|e }}" v:shapes="Picture_x0020_4"><![endif]>
                    {% endimage %}
                    <![endif]></span></u><span style='font-size:10.0pt;
  font-family:"Arial","sans-serif";mso-bidi-font-weight:bold'>________________________<u><b>{{ date_signed|e }}</b></u><br>
  <b>Brent Meyer (AGENT)</b> <br>
  Music Zirconia, Inc.<o:p></o:p></span></p>
    </td>
</tr>
<tr style='mso-yfti-irow:39;mso-yfti-lastrow:yes'>
    <td width=596 colspan=4 valign=top style='width:447.0pt;padding:0in 0in 0in 0in'>
        <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
    </td>
</tr>
<![if !supportMisalignedColumns]>
<tr height=0>
    <td width=308 style='border:none'></td>
    <td width=24 style='border:none'></td>
    <td width=2 style='border:none'></td>
    <td width=267 style='border:none'></td>
</tr>
<![endif]>
</table>

</div>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
display:none;mso-hide:all'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
